* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
}

$white: #fff;
$rose: #ec008c;
$border: #e0e0e0;
$gray: #908c8c;
$light-gray: #f8f8f8;
$disabled-blue: #8c94a8;

body {
  background: $light-gray;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 25px;
  @media (max-width: 1440px) {
    max-width: 1200px;
  }
}

// .btn {
//   position: relative;
//   cursor: pointer;
//   font-weight: 600;
//   padding: 12px 40px;
//   display: block;
//   border-radius: 5px;
//   max-width: max-content;
//   overflow: hidden;
//   transition: all 0.3s ease;
//   display: flex;
//   border: 0;
//   justify-content: center;
//   align-items: center;
//   &::after {
//     content: "";
//     background: rgba(255, 255, 255, 0.2);
//     width: calc(200px + 50%);
//     height: calc(200px + 50%);
//     position: absolute;
//     transform: scale(0);
//     transition: 0.5s;
//     border-radius: 50%;
//   }
//   &:hover {
//     &:after {
//       transform: scale(1);
//       transition: 0.5s;
//     }
//   }

//   &.primary {
//     background: $rose;
//     color: white;
//   }
// }

.text-size-1 {
  font-size: 14px;
}

.headline-1 {
  font-size: 118px;
  @media (max-width: 990px) {
    font-size: 48px;
  }
}

.headline-2 {
  font-size: 26px;
}

.body-1 {
  font-size: 11px;
}

.body-2 {
  font-size: 18px;
}

.body-title-1 {
  font-size: 20px;
}

.cl-rose {
  color: $rose;
}

.highlight {
  position: relative;
  margin-bottom: 50px;
  .background {
    width: 100%;
    height: 662px;
    object-fit: cover;
    object-position: center;
    @media (max-width: 990px) {
      height: 420px;
    }
  }
  .body {
    position: absolute;
    width: 100%;
    top: 140px;
    left: 0;
    color: $white;
    @media (max-width: 990px) {
      top: 100px;
    }
    .body-wrapper {
      .score {
        color: $rose;
      }
      .btn-highlight {
        margin-top: 50px;
      }
    }
  }
  .trends {
    position: absolute;
    bottom: 25px;
    width: 100%;
    padding: 0 25px;
    @media (max-width: 1024px) {
      display: none;
    }
    ul {
      width: max-content;
      display: flex;
      gap: 60px;
      margin: 0 auto;
      li {
        position: relative;
        color: $white;
        max-width: 250px;
        &.trends-title {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
        }
        &:nth-child(n + 2) {
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -30px;
            display: block;
            height: 100%;
            border: solid 1px $white;
          }
        }
      }
    }
  }
}

.slide {
  margin-bottom: 100px;
  .slick-slide {
    margin: 0 15px;
    @media (max-width: 990px) {
      margin: 0;
    }
  }
  .slide-item {
    background: $white;
    border-radius: 5px;
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 309px;
      border-radius: 5px 5px 0px 0px;
      @media (max-width: 990px) {
        height: 228px;
      }
    }
    .body {
      padding: 25px;
      .title {
        font-weight: 500;
        margin-bottom: 1rem;
      }
      .description {
        color: $disabled-blue;
      }
    }
  }
}

.about {
  display: grid;
  grid-template-columns: 368px 1fr;
  grid-gap: 30px;
  margin-bottom: 100px;
  @media (max-width: 990px) {
    display: flex;
    flex-direction: column;
  }
  .image {
    img {
      object-fit: cover;
      width: 368px;
      height: 368px;
      border-radius: 5px;
      @media (max-width: 990px) {
        width: 272px;
        height: 272px;
      }
    }
  }
  .title {
    color: $rose;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .description {
    margin-bottom: 1rem;
    color: $disabled-blue;
  }
}

.scroll {
  opacity: 0;
  transition: 0.5s;
  &.active {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@import "./_footer.scss";
@import "./_header.scss";
